{% extends "destinations/layout.html" %}
{% load static %}

{% block title %}Travel Slow: We tell you "THE BEST DESTINATIONS" for your travels!{% endblock %}

{% block body %}
<script>
    const myModal = document.getElementById('popUp')
    const myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', () => {
        myInput.focus()
    })

    function toggleThemes() {
        var themeCheckboxes = document.querySelectorAll("#themeContainer input[type='checkbox']");
        var activateThemes = document.getElementById("activateThemes");

        // Enable or disable theme checkboxes based on the "Activate Themes" checkbox
        themeCheckboxes.forEach(function (checkbox) {
            checkbox.disabled = !activateThemes.checked;
        });
    }

    function toggleDream() {
        var dreamCheckbox = document.querySelectorAll("#dreamContainer input[type='text']");
        var activateDream = document.getElementById("activateDream");

        // Enable or disable theme checkboxes based on the "Activate Themes" checkbox
        dreamCheckbox.forEach(function (checkbox) {
            checkbox.disabled = !activateDream.checked;
        });
    }

    function toggleCountry() {
        var countryCheckbox = document.querySelectorAll("#countryContainer input[type='text']");
        var activateCountry = document.getElementById("activateCountry");

        // Enable or disable theme checkboxes based on the "Activate Themes" checkbox
        countryCheckbox.forEach(function (checkbox) {
            checkbox.disabled = !activateCountry.checked;
        });
    }

    function exploreLoader() {
        const eBtn = document.getElementById("exploreBtn");
        const eBtnMobile = document.getElementById("exploreBtnMobile");
        eBtn.disabled = true;
        eBtnMobile.disabled = true;
        let loader1 = document.getElementById("loader-img");
        let loader2 = document.getElementById("loader-overlay");
        loader1.style.display = "block";
        loader2.style.display = "block";
    }

    function viewDest(destination_name) {
        window.location.href = `/destView/${destination_name}`;
    }

</script>

<div style="background-image: url('/static/destinations/bg.png'); background-size: auto; background-repeat: no-repeat; background-position: top;"
    class="px-1 text-center border-bottom">
    <h1 class="mb-2">HOW WE TRAVEL</h1>
    <h2 class="homeh2"><strong>NO CROWDS</strong></h2>
    <div class="text-dt col-lg-6 mx-auto">
        <p class="lead mb-4">Click on <strong><i>"Customize"</i></strong> to select a <strong>Theme</strong> you want to experiment with; or; Click on <strong><i>"Explore"</i></strong> to search for a random destination.</p>
    </div>
    <div class="text-mb col-lg-6 mx-auto">
        <p class="lead mb-4">Click on <strong><i class="bi bi-sliders2-vertical"></i></strong> to select a <strong>Theme</strong> you want to experiment with; or; Click on <strong><i class="bi bi-send"></i></strong> to search for a random destination.</p>
    </div>
    <div id="loader-overlay" class="overlay" style="height: 100%; width: 100%; position: fixed; display: none; z-index: 1; top: 0; left: 0; background-color: rgb(0,0,0); background-color: rgba(0,0,0, 0.6);"></div>
    <img id="loader-img" style="height: 100px; position: fixed; left: 50%; top: 50%; display: none; transform: translate(-50%,-50%);" src="{% static '/destinations/spin.svg' %}">
    <div class="col-lg-6 mx-auto">
        <div class="d-grid gap-3 d-flex justify-content-center mb-4">
            <button type="button" data-bs-toggle="modal" data-bs-target="#popUp" id="customizeBtn" class="homeBtn btn btn-outline-dark btn-lg px-2">Customize</button>
            <button type="button" data-bs-toggle="modal" data-bs-target="#popUp" id="customizeBtnMobile" class="homeBtn btn btn-outline-dark btn-lg px-2"><i class="bi bi-sliders2-vertical"></i></button>
            <a type="button" href="{% url 'explore' %}" onclick="return exploreLoader()" class="homeBtn btn btn-dark btn-lg px-4" id="exploreBtn">Explore</a>
            <a type="button" href="{% url 'explore' %}" onclick="return exploreLoader()" class="homeBtn btn btn-dark btn-lg px-4" id="exploreBtnMobile"><i class="bi bi-send"></i></a>
        </div>
        <div id="popUp" class="modal modal-xl modal-fullscreen-sm-down" tabindex="-1"
            aria-labelledby="exampleModalLabel" aria-hidden="true">

            <div class="modal-dialog">
                <div class="modal-content" style="border-radius: 0px;">
                    <div class="modal-header">
                        <h4 class="modal-title">Customize your Search</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'search' %}" method="POST">
                            {% csrf_token %}
                            <div class="tContainer">
                                <div class="left-column">
                                    <input type="checkbox" id="activateThemes" onchange="toggleThemes()">
                                    <label for="activateThemes">Theme:</label>
                                </div>
                                <div class="right-column text-start" id="themeContainer">
                                    <div class="row" style="width: 100%;">
                                        <div class="colTheme">
                                            <div class="pb-3">
                                                <input type="checkbox" value="Adventure Travel" name="adventure" id="adventure" disabled>
                                                <label for="adventure">Adventure Travel</label>
                                            </div>
                                            <div class="pb-3">
                                                <input type="checkbox" value="Beach Getaway" name="beach" id="beach" disabled>
                                                <label for="beach">Beach Getaway</label>
                                            </div>
                                            <div class="pb-3">
                                                <input type="checkbox" value="Historical Destination" name="history" id="history" disabled>
                                                <label for="history">Historical Destination</label>
                                            </div>
                                        </div>
                                        <div class="colTheme">
                                            <div class="pb-3">
                                                <input type="checkbox" value="Cultural Fest" name="culture" id="culture" disabled>
                                                <label for="culture">Cultural Fest</label>
                                            </div>
                                            <div class="pb-3">
                                                <input type="checkbox" value="Island Hopping" name="island" id="island" disabled>
                                                <label for="island">Island Hopping</label>
                                            </div>
                                            <div class="pb-3">
                                                <input type="checkbox" value="Road Trip" name="road" id="road" disabled>
                                                <label for="road">Road Trip</label>
                                            </div>
                                        </div>
                                        <div class="colTheme">
                                            <div class="pb-3">
                                                <input type="checkbox" name="luxury" value="Luxury Experience" id="luxury" disabled>
                                                <label for="luxury">Luxury Experience</label>
                                            </div>
                                            <div class="pb-3">
                                                <input type="checkbox" name="cruise" value="Cruise Vacation" id="cruise" disabled>
                                                <label for="cruise">Cruise Vacation</label>
                                            </div>
                                            <div class="pb-3">
                                                <input type="checkbox" name="community" value="Community Service" id="community" disabled>
                                                <label for="community">Community Service</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tContainer1">
                                <div class="left-column">
                                    <input type="checkbox" id="activateDream" onchange="toggleDream()">
                                    <label for="activateDream">Dream:</label>
                                </div>
                                <div class="right-column text-start" id="dreamContainer">
                                    <input type="text" name="dreamText" id="dreamText" disabled style="width: 85%;">
                                </div>
                            </div>
                            <div class="tContainer1">
                                <div class="left-column">
                                    <input type="checkbox" id="activateCountry" onchange="toggleCountry()">
                                    <label for="activateCountry">Country:</label>
                                </div>
                                <div class="right-column text-start" id="countryContainer">
                                    <input type="text" name="countryList" id="countryList" disabled style="width: 85%;">
                                </div>
                            </div>
                            <input type="submit" onclick="return exploreLoader()" data-bs-dismiss="modal" class="btn btn-dark" value="Search">
                        </form>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="overflow-hidden">
        <div id="img-home-top-track" class="container px-4" style="white-space: nowrap; overflow: auto;">
            <figure>
                <figcaption>Tranquil</figcaption>
                <img src="https://images.unsplash.com/photo-1521828885490-ef679a80bf4e" class="img-home-top"
                    alt="tranquil landscape" loading="lazy">
            </figure>
            <figure>
                <figcaption>Serene</figcaption>
                <img src="https://images.unsplash.com/photo-1618608273449-d286d73b1122" class="img-home-top"
                    alt="serene landscape" loading="lazy">
            </figure>
            <figure>
                <figcaption>Idyllic</figcaption>
                <img src="https://images.unsplash.com/photo-1511565737906-f8e8dfc1f254" class="img-home-top"
                    alt="idyllic landscape" loading="lazy">
            </figure>
            <figure>
                <figcaption>Relaxed</figcaption>
                <img src="https://images.unsplash.com/photo-1523910088385-d313124c68aa" class="img-home-top"
                    alt="relaxed landscape" loading="lazy">
            </figure>
        </div>
    </div>
    <div><a href="#h2"><svg class="down-arrow bounce" xmlns="http://www.w3.org/2000/svg" width="35" height="35"
                fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
            </svg></a></div>
</div>
<div class="container mt-5" style="min-height: 100vh; width: 100%;">
    <h2 id="h2" class="py-4"><strong>Top Destinations</strong></h2>
    <div class="row">
        {% for destination in destinations %}
        <div class="coldes"></div>
        <div class="coldes dest-image anime1" onclick="viewDest('{{ destination.destination_name|safe }}')" style="cursor: pointer; background-image:url('{{ destination.destination_imageURL }}')">
            <!-- <a href="{% url 'destView' destination_name=destination.destination_name %}"><div class="coldes dest-image anime1" style="background-image:url('{{ destination.destination_imageURL }}')"></div></a> -->
            <div class="center-img-text">
                <p>{{ destination.destination_name }}, {{ destination.destination_country }}</p>
            </div>
        </div>
        {% endfor %}
        <div class="col"></div>
    </div>
</div>



{% endblock %}