{% extends "encyclopedia/layout.html" %}

{% block title %}
    Delete Warning Page
{% endblock %}

{% block body %}
    {{ content | safe }}
    <br/>
    <div>
        <h3 class="alert alert-danger alert-dismissible fade show" role="alert">{{ message1 }}</h3>
        <h4 class="alert alert-warning alert-dismissible fade show" role="alert">{{ message }}</h4>
        <form action="{% url 'del_final' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="entry_title" value="{{ title }}">
            <input type="submit" name="del_final" value="Final Delete" class="btn btn-danger">
            <button type="button" class="btn btn-secondary" onclick="window.history.back();">Cancel</button>
        </form>

    </div>

{% endblock %}