{% extends "encyclopedia/layout.html" %}

{% block title %}
Encyclopedia
{% endblock %}

{% block body %}
{% if message != None %}
<div class="toast bg-success text-white fade show" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">
        <strong>{{ message }}</strong>
     </div>
     <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
{% endif %}
<h1>All Pages</h1>

<div class="list-group">
    {% for entry in entries %}
    <a href="{% url 'entry' title=entry %}" class="list-group-item list-group-item-action">{{ entry }}</a>
    {% endfor %}
</div>

{% endblock %}